<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="none-friend (noneFriend)">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="friend-card">
                <img th:src="${noneFriend.profile.cover}" alt="profile-cover" class="img-responsive cover" />
                <div class="card-info">
                    <img th:src="${noneFriend.profile.avatar}" alt="user" class="profile-photo-lg" />
                    <div class="friend-info">
                        <a href="#" class="pull-right text-green">Add Friend</a>
                        <h5><a href="timeline.html" class="profile-link" th:text="${noneFriend.profile.fisrtName +' '+noneFriend.profile.lastName}"></a></h5>
                        <p th:text="${noneFriend.profile.job}"></p>
                    </div>
                </div>
            </div>
        </div>
</div>
</body>
</html>